.herosection {
    width: 100%;
    height: 100vh;
    padding: 30px 10%;
}

.main__hero {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10em;
    justify-content: center;
    /* align-items: center; */
    margin-top: 150px;
}

/* ----------------------Content--Component------------- */
.main__content {
    width: 100%;
}

.content {
    max-width: 600px;

}

.badge__desc {
    display: flex;
    background-color: #F2F7FF;
    border-radius: 50px;
    padding-left: 10px;
    margin-bottom: 20px;
}

.badge__desc i {
    font-size: 16px;
    color: #2F80ED;
}

.badge__desc p {
    font-size: 16px;
    color: #2F80ED;
    margin-left: 5px;
}

.badge__heading {
    width: 500px;
    margin-bottom: 30px;
}

.badge__heading h1 {
    font-size: 50px;
    color: black;
}

.badge__heading h1 span {
    color: #2F80ED;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
}

.badge__heading p {
    font-size: 20px;
}

.content__btn {
    display: flex;
    gap: 10px;
    cursor: pointer;
}


.content__btn .btn button {
    background-color: #2F80ED;
    padding: 15px 30px;
    border-radius: 50px;
    color: #F2F7FF;
}

.content__btn .badge__btn button {
    background-color: #2F80ED;
    padding: 15px 30px;
    border-radius: 50px;
    color: #F2F7FF;
}

/* -----------------------HeroSection--Component--------------- */

.hero {
    width: 100%;
}

.hero__section {
    max-width: 100%;
    padding: 10px 5px;
}

.hero__img img {
    width: 350px;
}

.hero__value {
    width: 20%;
    display: flex;
    background-color: #FFFFFF;
    border-radius: 20px;
    padding: 10px 20px;
    position: absolute;
    top: 160px;
    right: 90px;
}

.hero__value h1 {
    color: #2F80ED;
    font-size: 30px;
}

.hero__value p {
    color: gray;
    text-align: center;
}

.hero_patients_imgs {
    height: 40px;
    width: 40px;
    border-radius: 20px;
}

.hero__data {
    width: 250px;
    background-color: #fff;
    position: absolute;
    top: 70%;
    left: 50%;
    padding: 10px 20px;
    border-radius: 10px;
}

.hero__data p {
    color: gray;
}

.hero__det {
    display: flex;
}


.hero__det h1 {
    color: #2F80ED;
    padding-left: 30px;
}

.hero__det img {
    position: relative;
    left: 5px;
}


.image-stack {
    display: flex;
    align-items: center;
}

.stacked-image {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 2px solid white;
    object-fit: cover;
    margin-left: -20px;
}

.stacked-image:first-child {
    margin-right: 0;
}